[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "~=1.9"
slack_sdk = "~=3.19"
structlog = "~=22.3"
pytz = "~=2024.1"
pyyaml = "~=6.0"

[dev-packages]
pre-commit = "*"
flake8 = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"
